/* Post zoom animation */
.zoom {
    transition: transform .30s;
}
.zoom:hover {
    transform: scale(1.02);
}
/* Inactive slider read only */
input[type=range]:disabled::-webkit-slider-thumb {
    background: #007BFF; /* Change this to any color you like */
}