.sidebar {
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
}

@media (max-width: 500px) {
    .sidebar {
        display: none;
    }
}

.content {
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
}

#username {
    width: 200px;
}