.sidebar {
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
}

@media (max-width: 500px) {
    .sidebar {
        display: none;
    }
}

.content {
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
}

#username {
    width: 200px;
}

.profilePicContainer {
    position: relative;
}

.pic2 {
    position: absolute;
    top: 0px;
    left: 0px;
}

#editIcon{
    opacity: 0;
    max-width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

#editIcon:hover{
    opacity: 1;
}

.nav-item{
    cursor: pointer;
}